@import "tailwindcss";

:root {
  --background: #F8FAFC;
  --foreground: #cb1111;
  --navigation-background: #FFFFFF;
  --navigation-text: #475569;
  --navigation-active: #008099;
  --navigation-hover: #E0F7FA;
  --navigation-active-text: #FFFFFF;
  --navigation-hover-text: #00667A;
  --navigation-highlight: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-navigation-background: var(--navigation-background);
  --color-navigation-text: var(--navigation-text);
  --color-navigation-active: var(--navigation-active);
  --color-navigation-hover: var(--navigation-hover);
  --color-navigation-active-text: var(--navigation-active-text);
  --color-navigation-hover-text: var(--navigation-hover-text);
  --color-navigation-highlight: var(--navigation-highlight);
  --color-navigation-title: var(--navigation-title);
}

:root {
  --background: #05131A;
  --foreground: #6f0;
  --navigation-title: #95d6f0;
  --navigation-background: #0B2836;
  --navigation-text: #8BBECB;
  --navigation-active: #67D5FF;
  --navigation-hover: #67d5ff26;
  --navigation-active-text: #031B24;
  --navigation-hover-text: #B2ECFF;
  --navigation-highlight: #FFFFFF;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
